<section id="header">
  <a href="#"><img src="assets/img/logo.png" class="logo" alt="" /></a>
  <div>
    <ul id="navbar">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/shop" routerLinkActive="active">Shop</a></li>
      <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Log in</a></li>
      <li><a routerLink="/signup" routerLinkActive="active" class="bouton">Sign up</a></li>
      <li id="lg-bag"><a routerLink="/cart" routerLinkActive="active"><i class="fas fa-shopping-bag"></i></a></li>

      <a href="#" id="close"><i class="fas fa-times"></i></a>
    </ul>
  </div>
  <div id="mobile">
    <a href="cart.html"><i class="fas fa-shopping-bag"></i></a>
    <i id="bar" class="fas fa-outdent"></i>
  </div>
</section>