<section class="user-management-area pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form action="#">
          <div class="table-content table-responsive">
            <table class="table">
              <!-- Colonnes -->
              <thead>
                <tr>
                  <th class="user-id">ID</th>
                  <th class="user-username">Username</th>
                  <th class="user-email">Email</th>
                  <th class="user-role">Role</th>
                  <th class="user-actions">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users; let i = index">
                  <td class="user-id">
                    <span class="index">{{ i + 1 }}</span>
                  </td>
                  <td class="user-username">
                    <span class="username">{{ user.userName }}</span>
                  </td>
                  <td class="user-email">
                    <span class="email">{{ user.email }}</span>
                  </td>
                  <td class="user-role">
                    <span class="role" *ngFor="let role of user.roles">{{ role.name }}&nbsp;&nbsp;</span>
                  </td>
                  <td class="user-actions">
                    <a [routerLink]="['/sign-up', user.id]" class="btn btn-primary m-1">Edit</a>
                    <button class="btn btn-danger m-1" (click)="Delete(user.id)">Delete</button>
                    <button class="btn btn-success m-1" (click)="setRole(user.id)">Set Role</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
