<section class="user-management-area pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form action="#">
          <div class="table-content table-responsive">
            <table class="table">
              <!-- Colonnes -->
              <thead>
                <tr>
                  <th class="user-id">ID</th>
                  <th class="user-username">Username</th>
                  <th class="user-email">Email</th>
                  <th class="user-role">Role</th>
                  <th class="user-actions">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users; let i = index">
                  <td class="user-id">
                    <span class="index">{{ i + 1 }}</span>
                  </td>
                  <td class="user-username">
                    <span class="username">{{ user.userName }}</span>
                  </td>
                  <td class="user-email">
                    <span class="email">{{ user.email }}</span>
                  </td>
                  <td class="user-role">
                    <span class="email">{{ user.role }}</span>
                  </td>
                  <td class="user-actions">
                    <a [routerLink]="['/sign-up', user.id]" class="btn btn-primary m-1">Edit</a>
                    <button class="btn btn-danger m-1" (click)="Delete(user.id)">Delete</button>
                    <button data-bs-toggle="modal" data-bs-target="#myModal" class="btn btn-success m-1" (click)="setRole(user)">Set Role</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>



<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Set Role User</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        {{ userSelected?.email }}<br>
        {{ userSelected?.userName }}<br>
        {{ userSelected?.role }}
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

