<section id="sm-banner" class="section-p1">
    <div class="banner-box">
      <h4>crazy deals</h4>
      <h2>buy 1 get 1 free</h2>
      <span>the best classic dress in on sale at cara</span>
      <button class="button-white">Learn More</button>
    </div>

    <div class="banner-box banner-box2">
      <h4>spring/summer</h4>
      <h2>upcomming season</h2>
      <span>the best classic dress in on sale at cara</span>
      <button class="button-white">Collection</button>
    </div>
  </section>