.sign-section {
    position: relative;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #f7f7f7;
}

.pic1 {
    width: 20%;
}
.pic2 {
    position: absolute;
    top: 45%;
    right: 70%;
    width: 150px;
}



.title-wrapper {
    margin-bottom: 20px;
}

.title {
    font-size: 32px;
    color: #333;
}

.title-wrapper p a {
    color: #007bff;
    text-decoration: underline;
}

.form-wrapper {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-header {
    margin-bottom: 35px;
}

.form-body {
    text-align: center;
}

.input-group {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-group label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.input-field {
    width: 100%;
    position: relative;
}

.input-field input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
}

.input-field i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-group input {
    margin-right: 10px;
}

.new-account {
    margin-top: 20px;
}

.new-account p {
    font-size: 14px;
    color: #777;
}

.new-account a {
    color: #007bff;
    text-decoration: none;
}
